#title {
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid {
    padding: 3% 15%;
}

h1 {
    font: 700 3.5rem /1.5 Ubuntu;
}

h2 {
    font: 700 3rem /1.5 Ubuntu;
}

#logo {
    font: 400 2rem Lobster;
    text-decoration: underline;
}

.navbar {
    font: 200 1.2rem Arial;
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px
}

.rotated {
  transform: rotate(25deg);
  width: 70%;
}

.dwl-btn {
    margin: 5% 3% 5% 0
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon {
    color: #ff4c68;
}

#features {
    padding: 10% 15%;
}

p {
    color: #8f8f8f;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
       width: 20%;
       margin: 20px 20 px 50px;
}

.carousel-item {
    padding: 7% 15%;
}