#title {
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid {
    padding: 3% 15%
}

h1, .nav-item {
    font: 700 3rem /1.5 Ubuntu;
}

#navbar {
    font: 200 1.2rem Arial
}

#logo {
    font: 400 2rem Lobster;
    text-decoration: underline
}

.rotated {
  transform: rotate(25deg); /* Equal to rotateZ(45deg) */
}
