
body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold"
}

p {
    color: #8f8f8f;
}

.price-text, .testimonial-text, section-heading {
    font: 700 3rem /1.5 Ubuntu;
}

.large-text {
    font: 700 3.5rem /1.5 Ubuntu;
}

#title {
    text-align: left;
}

#title, #cta {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

#logo {
    font: 400 2rem Lobster;
    text-decoration: underline;
}

.navbar {
    font: 200 1.2rem Arial;
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: relative;
  bottom: 40px;
  left: 50px;
}

.dwl-btn {
    margin: 5% 3% 5% 0
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon {
    color: #ff4c68;
}

#features {
    padding: 10% 15%;
    position: relative;
    background-color: #fff;
}

.features-title {
    font-size: 1.5rem
}

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
       width: 20%;
       margin: 20px 20 px 50px;
}

.carousel-item, #cta {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0deg);
    }
}

#footer {
    padding: 9% 15% 5%;
}

.footer-icons {
    color: #000;
    padding: 5% 2%;
}
